services:
  backend:
    build: ./Backend
    container_name: backend
    ports:
      - 8000:8000

  ml:
    build: ./ML Detection
    container_name: ML-Pipeline
    ports:
      - 5000:5000
    volumes:
      - upload-photos:/data
    user: root

volumes:
  upload-photos:
